:root {
    --global-border: 1px solid lightgrey;
    --header-height: 30px;
    --footer-height: 30px;
    --nav-width: 400px;
}

body {
    margin: 0;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: yellow; /* we should see no yellow */
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
}

/* children of `app` */

.header {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: red;
}

.main {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
    background-color: purple;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-y: auto;
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: -2;
    grid-row-end: -1;
    background-color: blue;
}

/* entity */

.entity {
    height: 100%;
    display: grid;
    grid-template-columns: var(--nav-width) auto;
}

/* children of `entity` */

.nav {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: orange;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: burlywood;
    overflow-y: auto;
}